.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
runs/
inference/
*.pth
*.pt
*.tar
*.tar.gz
/tools/runs_twinlitenet_with_yolopv3/
/tools/runs/
/tools/inference/
/submission/
/runs/
/from_scratch_amp_disabled/
/tools/inference/
/tools/runs/
/tools/phenobench_tries/
/tools/runs_twinlitenet_with_yolopv3/
/tools/runs_twinlitenet_with_yolopv3_encoder_reduced_with_dws/
/tools/runs_twinlitenet_with_yolopv3_extendedencoderdws_512_max_channels/
/only_da_and_lls/
/phenobench_runs/
/semantics_submission/
/semantics_submission_vis/
/semantics_submission.zip
/tools/phenobench_test_predictions/
/val_prediction/
/yolopv3_val_prediction/
/yolopv3_phenobench_cropweed_det_cropweed_seg_1024_bs_2_nms_loss_params/
/yolopv3_phenobench_cropweed_det_cropweed_seg_1024_bs_2_nms_conf_0.25/
